# Xcode
xcuserdata/
xcshareddata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build artifacts
*.app
*.dmg
*.zip

# Swift Package Manager
.build/
.swiftpm/
